<div class="container-fluid">
    <div class="container">
        <br>
        <h1>Conheça Nossos Planos</h1>
        
    </div>
    <br>

    <div class="cards">
        <div class="simples">
            <h5>Plano Básico</h5>
            <p>1 Consulta por mês</p>
            <p>Ideal para acompanhamento pontual, recomendado para quem precisa de apoio em momentos específicos ou situações que exigem uma abordagem de curto prazo.</p>
            <h6>*<b>Atendimentos disponíveis nos formatos online e presencial.</b></h6>
            <a href="https://wa.me/5511920907849?text=Olá! Tudo bem! Gostaria de saber quais os valores da consulta do plano Básico!" target="_blank">
                <button class="btn btn-primary">Saiba mais</button>
            </a>

        </div>
        <div class="medio">
            <h5>Plano Médio</h5>
            <p>2 Consultas por mês</p>
            <!-- <h5 class="p-3 text-danger">Mais Popular</h5> -->
            <p>Para quem busca suporte contínuo. Indicado para pessoas que desejam um acompanhamento regular para lidar com questões como ansiedade, estresse ou desafios emocionais recorrentes.</p>
            <h6>*<b>Atendimentos disponíveis nos formatos online e presencial.</b></h6>
            <a href="https://wa.me/5511920907849?text=Olá! Tudo bem! Gostaria de saber quais os valores da consulta do plano Médio!" target="_blank">
                <button class="btn btn-primary">Saiba mais</button>
            </a>

        </div>
        <div class="alto">
            <h5>Plano Premium</h5>
            <p>4 Consultas por mês</p>
            <p>Ideal para acompanhamento intensivo. Recomendado para quem precisa de um suporte robusto e frequente para superar desafios emocionais mais complexos ou transtornos de longa duração.</p>
            <!-- <h6>Possui opção de atendimento online</h6> -->
            <h6>*<b>Atendimentos disponíveis nos formatos online e presencial.</b></h6>
            <a href="https://wa.me/5511920907849?text=Olá! Tudo bem! Gostaria de saber quais os valores da consulta do plano Premium!" target="_blank">
                <button class="btn btn-primary">Saiba mais</button>
            </a>

        </div>
    </div>
    
    
</div>