<div class="container-fluid">
    <div class="container">
        <section class="apresentacao" id="home">
            <div class="apresentation">
                <h4 style="color: #fff;">Controle seus pensamentos antes que eles controlem você.</h4>
                <ul style="color: #fff;">
                    <li><i class="bi bi-check2-circle"></i> Produtividade</li>
                    <li><i class="bi bi-check2-circle"></i> Controle Emocional</li>
                    <li><i class="bi bi-check2-circle"></i> Desenvolvimento Pessoal</li>
                </ul>

                <h4 style="color: #fff;">Agende uma Consulta!</h4>
                <!-- 11920907849 -->
                <div class="icon" style="color: #fff;">
                    <a href="https://wa.me/5511920907849?text=Olá! Tudo bem? Gostaria de estar agendando uma consulta." target="_blank">
                        <i class="bi bi-whatsapp"></i>
                    </a>
                </div>
            </div>

            <div class="image-container">
                <div class="background-box"></div>
                <img src="assets/images/img-mae-sem-fundo.png" alt="Imagem de destaque">
                <p style="display: flex; justify-content: center; margin-bottom: -330px;  color: #fff; font-size: 3px;">Foto de <a href="https://unsplash.com/pt-br/@mindyj?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">MINDY JACOBS</a> na <a href="https://unsplash.com/pt-br/fotografias/dois-travesseiros-brancos-em-cima-do-sofa-cinza-hAh4Unn50gk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </p>
            </div>

            <!-- <div class="agradeca">
                <p>Foto de <a href="https://unsplash.com/pt-br/@mindyj?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">MINDY JACOBS</a> na <a href="https://unsplash.com/pt-br/fotografias/dois-travesseiros-brancos-em-cima-do-sofa-cinza-hAh4Unn50gk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </p>
            </div> -->
        </section>
    </div>

    <div id="precos" class="precos">
        <app-precos></app-precos>
    </div>

    <div class="duvidas" id="duvidas">
        <app-duvidas ></app-duvidas>
    </div>

</div>

    <app-footer></app-footer>