html {
    scroll-behavior: smooth;
  }


  
  .topo {
    header {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 1rem 0;
      margin-bottom: 1.5rem;
      border-bottom: 1px solid #dee2e6;
  
      a {
        text-decoration: none;
        color: inherit;
      }
  
      .logo-img {
        width: 50px;
        height: auto;
        margin-right: 10px;
      }
  
      h6 {
        margin: 0;
        font-weight: 600;
      }
  
      .nav-pills {
        .nav-link {
          color: #0d6efd;
          
          &.disabled {
            pointer-events: none;  /* Desativa qualquer interação com o link */
            color: gray;  /* Muda a cor para indicar que o link está desabilitado */
            cursor: not-allowed;  /* Muda o cursor para indicar que não é clicável */
          }

          &:hover {
            background-color: rgba(13, 110, 253, 0.1);
          }
  
          &.active {
            background-color: #0d6efd;
            color: white;
          }
        }
      }
    }

    

  }