.container-fluid {
    display: flex;
    flex-direction: column;
    background-color: #D8BFD8;
    padding: 20px 0;
}


.text {
    color: #333;
    text-align: justify;
    line-height: 1.6;

    h4 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center; // Centraliza a imagem e o link
    text-align: center; 

    img {
        max-width: 100%;
        height: auto;
    }

    .img-credit {
        font-size: 0.8rem;
        color: #333;
        margin-top: 5px; // Ajuste do espaçamento
    }

    a {
        color: #333;
        text-decoration: none;
        font-size: 3px;
        &:hover {
            text-decoration: underline;
        }
    }
}

// Lista de benefícios
.list-benefits {
    list-style: none;
    padding: 0;
    margin-top: 20px;

    li {
        font-size: 1.2rem;
        color: #333;
        margin-bottom: 5px;
        display: flex;
        align-items: center;

        &::before {
            content: "✔";
            color: #333;
            margin-right: 10px;
        }
    }
}
