<div class="container-fluid">
    <div class="container">
        <div class="text">
            <h4>Olá, seja bem-vindo(a)!</h4>  
            <p>Meu nome é Elaine de Fátima Pereira da Silva, sou psicóloga (CRP06/215165) e pós-graduanda em Psiquiatria e Saúde Mental. Tenho como propósito auxiliar crianças, adolescentes e mulheres a enfrentarem seus desafios emocionais, promovendo autoconhecimento e bem-estar.</p>  

            <p>Minha abordagem é a Terapia Cognitivo-Comportamental (TCC), um método baseado em evidências que auxilia na compreensão dos padrões de pensamento e comportamento, favorecendo mudanças positivas na vida.</p>  

            <p>Atuo com atendimentos online e presenciais, oferecendo um espaço acolhedor, empático e seguro para que você possa se expressar livremente e desenvolver estratégias para lidar com questões como:</p>

            <div class="img">
                <img src="/assets/images/consulta.png" alt="Imagem de consulta">
                <p class="img-credit">
                    <a href="https://www.flaticon.com/br/icones-gratis/terapia" title="terapia ícones">Terapia ícones criados por Flat Icons - Flaticon</a>
                </p>
            </div>

            <ul class="list-benefits">
                <li>Ansiedade e estresse</li>
                <li>Autoestima e autoconfiança</li>
                <li>Relacionamentos e conflitos interpessoais</li>
                <li>Regulação emocional</li>
                <li>Apoio psicológico para mulheres</li>
            </ul>

            <p>Além disso, minha experiência inclui atuação em cuidados paliativos, grupos terapêuticos, acompanhamento de idosos e intervenções no ambiente escolar, o que me permite um olhar humanizado e sensível às diversas fases da vida.</p>  

            <p>Se você busca acolhimento e orientação psicológica para viver com mais equilíbrio emocional, estou aqui para te ajudar nessa jornada.</p>
        </div>

        <div class="icon"></div>
    </div>
</div>

<app-footer></app-footer>
